In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import data file "products.csv"
df_prods = pd.read_csv(r'/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Original Data/products.csv', index_col=False)

In [3]:
# Define the path to the directory containing the CSV file
path = '/Users/marika/Instacart Basket Analysis 04.14.24'

# Read the CSV file using os.path.join()
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col=False)

In [4]:
# Import data file "orders_wrangled.csv"
df_ords = pd.read_csv(r'/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Prepared Data/orders_wrangled.csv', index_col=False)

In [5]:
# Define the path to the directory containing the CSV file
path = '/Users/marika/Instacart Basket Analysis 04.14.24'

# Read the CSV file using os.path.join()
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col=False)

In [8]:
# Create a dataframe
df_test = pd.DataFrame()

In [9]:
# Create a mixed type column
df_test['mix'] = ['a','b', 1, True]

In [10]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [11]:
#Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/zz/ztknjg01693_5_h12npzs1l00000gn/T/ipykernel_22818/522087711.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [12]:
df_test['mix'] = df_test['mix'].astype('str')

In [13]:
# Finding missing values 
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [14]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [15]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [16]:
df_prods.shape

(49693, 5)

In [17]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [18]:
df_prods_clean.shape

(49677, 5)

In [19]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [20]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [21]:
df_prods_clean.shape

(49677, 5)

In [22]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [23]:
df_prods_clean_no_dups.shape

(49672, 5)

In [25]:
df_ords.describe()
# there are fewer non-null values in "days_since_prior_order" and there is an "Unnamed column" that needs to be addressed.

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [31]:
# Check for mixed types
for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len (df_ords[weird]) > 0:
        print(col)

In [32]:
# Finding missing values 
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [35]:
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [36]:
df_nan

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

In [ ]:
# The missing values in "days_since_prior_order" seems to be null values and it could be a negative number or not applicable

In [40]:
#Addressing missing values
df_ords.median()
# I chose the median because "days_since_prior_order" had too many missing values and it wouldn't make sense to find the mean.

Unnamed: 0                1710541.0
order_id                  1710542.0
user_id                    102689.0
order_number                   11.0
orders_day_of_week              3.0
order_hour_of_day              13.0
days_since_prior_order          7.0
dtype: float64

In [42]:
# Number of rows in current dataframe
df_ords.shape

(3421083, 7)

In [43]:
# Place NANs values opposed to missing values
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [44]:
df_ords_clean.shape

(3214874, 7)

In [ ]:
# I chose not to drop any missing values or the NaNs because it's too many values that are missing and it would be risky without further
research on what those missing values could be.

In [45]:
df_dups = df_ords_clean[df_ords_clean.duplicated()]

In [46]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [ ]:
# There are 0 duplicates

In [47]:
#Exporting "df_prods_clean" dataframes
df_prods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_clean.csv'))

In [48]:
# Exporting "df_ord_clean" dataframes
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_clean.csv'))