# Task 4.9 Part 1

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Import data file "customers.csv"
df_customers = pd.read_csv('/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Original Data/customers.csv')

In [3]:
# Define the path to the directory containing the CSV file
path = '/Users/marika/Instacart Basket Analysis 04.14.24'

# Read the CSV file using os.path.join()
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col=False)

In [4]:
# Checking "customers" columns
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
# Check for mixed types
for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].apply(lambda x: type(x.iloc[0])) != df_customers[[col]].apply(type)).any()
    if weird:
        print(col)

user_id
First Name
Surnam
Gender
STATE
Age
date_joined
n_dependants
fam_status
income

In [6]:
# Convert 'user_id' to integer
df_customers['user_id'] = pd.to_numeric(df_customers['user_id'], errors='coerce').astype('Int64')

In [7]:
# Convert 'First Name' and 'Surnam' to string
df_customers['First Name'] = df_customers['First Name'].astype(str)
df_customers['Surnam'] = df_customers['Surnam'].astype(str)

In [8]:
# Convert 'Gender' and 'STATE' to string
df_customers['Gender'] = df_customers['Gender'].astype(str)
df_customers['STATE'] = df_customers['STATE'].astype(str)

In [9]:
# Convert 'Age' and 'n_dependents' to integer
df_customers['Age'] = pd.to_numeric(df_customers['Age'], errors='coerce').astype('Int64')
df_customers['n_dependants'] = pd.to_numeric(df_customers['n_dependants'], errors='coerce').astype('Int64')

In [10]:
# Convert 'date_joined' to DateTime
df_customers['date_joined'] = pd.to_datetime(df_customers['date_joined'], errors='coerce')

In [11]:
# Convert 'fam_status' to string
df_customers['fam_status'] = df_customers['fam_status'].astype(str)

In [12]:
# Convert 'income' to Numeric
df_customers['income'] = pd.to_numeric(df_customers['income'], errors='coerce').astype('Int64')

In [13]:
# Renaming "First Name"
df_customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [14]:
# Renaming "Surnam"
df_customers.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [15]:
# Renaming "Gender"
df_customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [16]:
# Renaming "STATE"
df_customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [17]:
# Renaming "Age"
df_customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [18]:
# Renaming "fam_status"
df_customers.rename(columns = {'fam_status' : 'fam_status'}, inplace = True)

In [19]:
df_customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,2017-01-01,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,2017-01-01,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,2017-01-01,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,2017-01-01,1,married,40374

In [20]:
# How many rows and columns
df_customers.shape

(206209, 10)

In [21]:
# Finding missing values 
df_customers.isnull().sum()

user_id         0
first_name      0
surname         0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [22]:
# Creating new clean "customers" dataframe
df_customers_clean = df_customers.copy()

In [23]:
# How many rows and columns
df_customers_clean.shape

(206209, 10)

In [24]:
# Checking for any duplicates
df_customers_clean_no_dups = df_customers_clean.drop_duplicates()

In [25]:
# How many rows and columns
df_customers_clean.shape

(206209, 10)

# Combining "customer data" with "ords_prods_merge"

In [26]:
# Import data file "orders_products_combined.pkl"
ords_prods_merge = pd.read_pickle('/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Prepared Data/orders_products_merged.pkl')

In [27]:
# Check if the 'user_id' cilumn exists and has the same data type in both data frames
print(df_customers_clean.columns)
print(ords_prods_merge.columns)

print(df_customers_clean['user_id'].dtype)
print(ords_prods_merge['user_id'].dtype)

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')
Index(['Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'Unnamed: 0_y', 'product_name', 'aisle_id', 'department_id', 'prices',
       'merge_indicator', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'loyalty_flag', 'spending_flag',
       'order_frequency_flag'],
      dtype='object')
Int64
int64

In [28]:
# Convert 'user_id' to integer in df_customers_clean
if df_customers_clean['user_id'].dtype == 'bool':
    df_customers_clean['user_id'] = df_customers_clean['user_id'].astype(int)

In [29]:
# Convert 'user_id' to integer in ords_prods_merge
if ords_prods_merge['user_id'].dtype != 'int64':
    ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype(int)

In [30]:
# Verify the data types again
print("Converted data type of 'user_id' in df_customers_clean:", df_customers_clean['user_id'].dtype)
print("Converted data type of 'user_id' in ords_prods_merge:", ords_prods_merge['user_id'].dtype)

Converted data type of 'user_id' in df_customers_clean: Int64
Converted data type of 'user_id' in ords_prods_merge: int64

In [31]:
# Merge the DataFrames on 'user_id'
ords_prods_customers_merge = pd.merge(df_customers_clean, ords_prods_merge, on='user_id', how='inner')

In [35]:
# Check the result of the merge
ords_prods_customers_merge.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income,...,department_id,prices,merge_indicator,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,loyalty_flag,spending_flag,order_frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,Regular,Low spender,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,Regular,Low spender,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,Regular,Low spender,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,16,12.6,both,Mid-range product,Regularly busy,Regularly busy,Average orders,Regular,Low spender,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,16,12.6,both,Mid-range product,Regularly busy,Slowest days,Average orders,Regular,Low spender,Regular customer

In [36]:
# Export data to pkl
ords_prods_customers_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))