# Task 4.6

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [7]:
# Import data file "orders_products_combined.pkl"
df_merged_large = pd.read_pickle('/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Prepared Data/orders_products_combined.pkl')

In [9]:
df_merged_large.shape

(32434489, 11)

In [10]:
# Import data file "orders_wrangled.csv"
df__prods_clean = pd.read_csv(r'/Users/marika/Instacart Basket Analysis 04.14.24/02 Data/Prepared Data/df_prods_clean.csv', index_col=False)

In [11]:
# Define the path to the directory containing the CSV file
path = '/Users/marika/Instacart Basket Analysis 04.14.24'

# Read the CSV file using os.path.join()
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_clean.csv'), index_col=False)

In [12]:
# Check the output
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# Check the output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [14]:
df_merged_large.shape

(32434489, 11)

In [15]:
df_prods_clean.shape

(49693, 6)

In [18]:
# Merging data sets with a different indicator column name
ords_prods_merge = df_merged_large.merge(df_prods_clean, on='product_id', indicator='merge_indicator')

In [19]:
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_indicator
0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [20]:
# Merge flag
ords_prods_merge['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [21]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))